@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
  text-align: center;
}

table {
  margin-top: 40px;
  width: 100%;
  text-shadow: 1px 1px #00000030;
  border-spacing: 0;
}

thead {
  background-color: #333;
}

tbody tr:nth-child(odd) {
  background-color: #555;
}

tbody tr:nth-child(even) {
  background-color: #444;
}

td,
th {
  padding: 5px;
}

td:nth-child(n + 3) {
  text-align: center;
}

td:nth-child(1) {
  width: 50px;
}

td:nth-child(1) img {
  width: 40px;
  margin-bottom: -10px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
}

th:nth-child(2) {
  text-align: left;
}

.green-text {
  color: rgb(4, 206, 4);
}

.red-text {
  color: rgb(255, 59, 59);
}

.match {
  height: 100px;
  background-position: 50% 50%;
  font-size: 1em;
  text-shadow: 1px 1px 1px #00000040;
  text-align: center;
  margin-bottom: 5px;
}

.match .map-name {
  font-size: 2em;
  text-transform: uppercase;
}

.match .round-score {
  background-color: #00000080;
  padding: 8px 10px;
  border-radius: 4px;
  width: 60px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}
.match .match-agent {
  width: 40px;
  height: 40px;
  background-size: contain;
  display: inline-block;
}

.clear {
  clear: both;
}
.bold {
  font-weight: bold;
}

.match-date {
  font-size: 1em !important;
}
